<li>
    <a href="{{ url('homepage') }}">
        <i class="icon-home"></i>
        <span class="title">Inicio</span>
    </a>
</li>
<!--<li class="dropdown dropdown-quick-sidebar-toggler">
    <a href="{#{{ url('fos_user_profile_show') }}#}" class="dropdown-toggle">
        <i class="icon-user"></i>
        <span class="title">Profile</span>
    </a>
</li>-->
<li class="dropdown dropdown-quick-sidebar-toggler">
    <a href="{{ url('showMe') }}" class="dropdown-toggle">
        <i class="icon-user"></i>
        <span class="title">My profile</span>
    </a>
</li>
<li class="dropdown dropdown-quick-sidebar-toggler">
    <a href="{{ url('usersWeare') }}" class="dropdown-toggle">
        <i class="icon-user"></i>
        <span class="title">Usuarios</span>
    </a>
</li>
