<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">New Post</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-10 col-md-offset-1">
                <form class="form-horizontal" role="form" id="formCreatePost" action="{{ path('createPost') }}" method="POST">
                <input type="hidden" id="currentUser" name="currentUser" value="{{ currentUser }}">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label margin-top-20">Title:</label>
                            <div class="col-md-6 margin-top-20">
                                <textarea rows="2" cols="50" class="form-control" placeholder="Title" id="postTitle" name="postTitle"></textarea>
                            </div>
                            <label class="col-md-4 control-label margin-top-20">Post:</label>
                            <div class="col-md-6 margin-top-20">
                                <textarea rows="4" cols="50" class="form-control" placeholder="Post" id="postText" name="postText"></textarea>
                            </div>
                            <label class="col-md-6 control-label margin-top-20" style="padding-top:1px !important;">Image profile</label>
                            <div class="col-md-6 margin-top-20">
                                <input type="file" class=" c-font-14" id="fotoperfil" name="fotoperfil" accept="image/x-png,image/gif,image/jpeg">
                            </div>
                            <!--<label class="col-md-4 margin-top-20" style="text-align:right;">Estado:</label>-->
                            <!--<div class="md-checkbox-inline col-md-6 margin-top-20">
                                <div class="md-checkbox">
                                    <input type="hidden" name="EstadoCompetencia" value="0" />
                                    <input type="checkbox" id="checkbox6" class="md-check" name="EstadoCompetencia" value="1" checked>
                                    <label for="checkbox6">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Publish </label>
                                </div>
                            </div>-->
                            <!--<label class="col-md-4 control-label">Survey:</label>-->
                            <!--<div class="col-md-6">
                                <select name="surveyParent" id="surveyParent" class="page-header-top-dropdown-style-option form-control input-xs" required >
                                    
                                </select>
                            </div>-->
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Close it</button>
            <button type="button" class="btn blue" onclick="sendDataCreatePost()">Save it</button>
        </div>
    </div>
</div>
<script>

    function sendDataCreatePost() {

        //$('#crearCompetenciaFichaBase').modal('hide');
        $.blockUI({baseZ: 20000, message: '<h4><img src="{{ asset('assets/global/plugins/cubeportfolio/cubeportfolio/img/cbp-loading.gif') }}" /> Guardando datos, por favor espere...</h4>'});
        var form = document.getElementById("formCreatePost");
        
        var formData = new FormData(form);
        

        $.ajax({
            url: '{{ path('createPost') }}',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
                Notificacion("success", "Survey Projext X", "Everything worked just fine.");
                $('#crearPost').modal('hide');
                $.unblockUI();
                $('#sample_2').load(window.location + ' #sample_2 >  *');
                setTimeout(function(){
                    location.reload(); 
                }, 1000); 

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                Notificacion("error", "Survey Projext X", "ummmmm there is something wrong cowboy.");
                $.unblockUI();
            }
        });
    }

</script>

